alembic==1.16.4
asyncpg==0.30.0
databases==0.9.0
decorator==5.2.1
email_validator==2.2.0
fastapi==0.116.1
fastjsonschema==2.21.1
giga==0.0.7
gigachat==0.1.42.post1
grapheme==0.6.0
openai==1.99.6
pydantic==2.11.7
SQLAlchemy==2.0.42
uvicorn==0.35.0
requests==2.32.4
python.dotenv==1.1.1




